.home {
  min-height: 100vh;
  background-color: var(--background-color);

  section {
    width: 100%;
    position: relative;

    &:nth-child(even) {
      background-color: var(--background-color);
    }

    &:nth-child(odd) {
      background-color: var(--white);
    }
  }

  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
  }
}
